html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(./assets/fonts/Poppins-Medium.ttf) format('ttf');
}
